<!-- afficheractivite.component.html -->

<table class="table">
  <thead>
    <tr>
      <!-- <th>ID</th> -->
      <th>Type</th>
      <th>Description</th>
      <th>Date</th>
      <!-- <th>Prospect ID</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let activite of tab" class="table-row">
      <!-- <td class="table-cell">{{ activite.id }}</td> -->
      <td class="table-cell">{{ activite.type }}</td>
      <td class="table-cell">{{ activite.description }}</td>
      <td class="table-cell">{{ activite.date | date: 'dd/MM/yyyy' }}</td>
      <!-- <td class="table-cell">{{ activite.prospectId }}</td> -->
    </tr>
  </tbody>
</table>
