<div class="content-wrapper">
    <div class="row">
        <div class="col-md-6">
            <h5 class="text-danger">Liste des prospects</h5>
        </div>
        <div class="col-md-6 text-end">
            <button class="ajouter-button" (click)="afficherModalAjout()">+ Ajouter un prospect</button>
        </div>
    </div>
    <div class="card">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Prenom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Numero</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Sexe</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let prospect of getPaginatedProspectList()" [class.table-success]="prospect.status === 'Client'"  [class.table-secondary]="prospect.status !== 'Client'">
                    <td>
                        <ng-container *ngIf="!prospect.editing; else editField">
                            {{ prospect.prenom }}
                        </ng-container>
                        <ng-template #editField>
                        <div class="form-group">
                            <input [(ngModel)]="prospect.prenom"/>
                        </div>
                        </ng-template>
                    </td>
                    <td>
                        <ng-container *ngIf="!prospect.editing; else editFieldNom">
                            {{ prospect.nom }}
                        </ng-container>
                        <ng-template #editFieldNom>
                            <div class="form-group">
                            <input [(ngModel)]="prospect.nom" />
                        </div>
                        </ng-template>
                    </td>


                    <td>
                        <ng-container *ngIf="!prospect.editing; else editFieldNumero">
                            {{ prospect.numero }}
                        </ng-container>
                        <ng-template #editFieldNumero>
                            <div class="form-group">
                            <input [(ngModel)]="prospect.numero" />
                        </div>
                        </ng-template>
                    </td>

                    <td>
                        <ng-container *ngIf="!prospect.editing; else editFieldAdresse">
                            {{ prospect.adresse }}
                        </ng-container>
                        <ng-template #editFieldAdresse>
                            <div class="form-group">
                            <input [(ngModel)]="prospect.adresse" />
                        </div>
                        </ng-template>
                    </td>
                    
                    <td>
                        <ng-container *ngIf="!prospect.editing; else editFieldSexe">
                            {{ prospect.sexe }}
                        </ng-container>
                        <ng-template #editFieldSexe>
                            <div class="form-group">
                            <input [(ngModel)]="prospect.sexe" />
                        </div>
                        </ng-template>
                    </td>

                    <td>
                        <ng-container *ngIf="!prospect.editing; else editFieldStatus">
                            {{ prospect.status }}
                        </ng-container>
                        <ng-template #editFieldStatus>
                            <div class="form-group">
                            <input [(ngModel)]="prospect.status" />
                        </div>
                        </ng-template>
                    </td>

                    <td>
                        <ng-container *ngIf="!prospect.editing; else editButtons">
                            <i class="fas fa-edit text-primary me-2" (click)="prospect.editing = true"></i>
                            <i class="fas fa-trash-alt text-danger" (click)="deleteProspect(prospect)"></i>
                            <button class="btn btn-success btn-sm float-end" (click)="convertToClient(prospect)">
                                <i class="fas fa-exchange-alt"></i> <!-- Icône de conversion -->
                            </button>
                            
                        </ng-container>
                    
                        <ng-template #editButtons>
                            <div class="form-group">
                                <button class="bg-gradient-success me-2" (click)="updateProspect(prospect)">
                                    <i class="fas fa-check"></i>
                                </button>
                                <button class="bg-gradient-danger" (click)="prospect.editing = false">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </ng-template>
                    </td>
                    
                </tr>
            </tbody>
        </table>
         <!-- Ajoutez les contrôles de pagination -->
         <div class="text-center" *ngIf="prospectList.length > itemsPerPage">
            <!-- <pagination-controls (pageChange)="onPageChange($event)" [maxSize]="5"></pagination-controls> -->
            <button (click)="onPreviousPage()" style="font-size: 10px;" >Precedent</button>
            <button (click)="onNextPage()" style="font-size: 10px;" >Suivant</button>
        </div>
    </div>  
</div>





  <!-- Ajouter le formulaire en tant que modal -->
<div class="modal" [ngClass]="{'d-block': afficherFormulaire}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ajouter un prospect</h5>
          <button type="button" class="close" (click)="fermerModalAjout()" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <div class="modal-body">
          <form  class="form-horizontal">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="prenom" name="prenom"  [(ngModel)]="prenom">
              <label for="prenom">Prenom</label>
          </div>
        
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="nom">
            <label for="nom">Nom</label>
        </div>
        
        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="numero" name="numero" [(ngModel)]="numero">
          <label for="numero">Numero</label>
      </div>
        
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="adresse" name="adresse" [(ngModel)]="adresse">
        <label for="adresse">Adresse</label>
    </div>
            


    <div class="form-group">
      <label for="sexe">Sexe</label>
      
      <select class="form-control" id="sexe" name="sexe" [(ngModel)]="sexe" >
          
          <option value="homme">M</option>
          <option value="femme">F</option>
      
      </select>
    </div>

    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="status" name="status"  [(ngModel)]="status" >
      <label for="status">Status</label>
  </div>
    
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" (click)="addProspect()">Ajouter</button>
              </div>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>