<div class="content-wrapper">
    <h5 class="text-danger"> Liste des prospects</h5>
    <div class="card p-3 shadow">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Prenom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Numero</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Sexe</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let prospect of getPaginatedProspectList()">
                    <td>
                        <ng-container *ngIf="!prospect.editing; else editField">
                            {{ prospect.prenom }}
                        </ng-container>
                        <ng-template #editField>
                        <div class="form-group">
                            <input [(ngModel)]="prospect.prenom"/>
                        </div>
                        </ng-template>
                    </td>
                    <td>
                        <ng-container *ngIf="!prospect.editing; else editFieldNom">
                            {{ prospect.nom }}
                        </ng-container>
                        <ng-template #editFieldNom>
                            <div class="form-group">
                            <input [(ngModel)]="prospect.nom" />
                        </div>
                        </ng-template>
                    </td>


                    <td>
                        <ng-container *ngIf="!prospect.editing; else editFieldNumero">
                            {{ prospect.numero }}
                        </ng-container>
                        <ng-template #editFieldNumero>
                            <div class="form-group">
                            <input [(ngModel)]="prospect.numero" />
                        </div>
                        </ng-template>
                    </td>

                    <td>
                        <ng-container *ngIf="!prospect.editing; else editFieldAdresse">
                            {{ prospect.adresse }}
                        </ng-container>
                        <ng-template #editFieldAdresse>
                            <div class="form-group">
                            <input [(ngModel)]="prospect.adresse" />
                        </div>
                        </ng-template>
                    </td>
                    
                    <td>
                        <ng-container *ngIf="!prospect.editing; else editFieldSexe">
                            {{ prospect.sexe }}
                        </ng-container>
                        <ng-template #editFieldSexe>
                            <div class="form-group">
                            <input [(ngModel)]="prospect.sexe" />
                        </div>
                        </ng-template>
                    </td>

                    <td>
                        <ng-container *ngIf="!prospect.editing; else editFieldStatus">
                            {{ prospect.status }}
                        </ng-container>
                        <ng-template #editFieldStatus>
                            <div class="form-group">
                            <input [(ngModel)]="prospect.status" />
                        </div>
                        </ng-template>
                    </td>

                    <td>
                        <ng-container *ngIf="!prospect.editing; else editButtons">
                            <button class="bg-gradient-primary me-2" (click)="prospect.editing = true" style="font-size: 10px;">Modifier</button>
                            <button class="bg-gradient-danger" (click)="deleteProspect(prospect)" style="font-size: 10px;">Supprimer</button>
                        </ng-container>
                        <ng-template #editButtons>
                            <div class="form-group">
                            <button class="bg-gradient-success me-2" (click)="updateProspect(prospect)">Valider</button>
                            <button class="bg-gradient-danger" (click)="prospect.editing = false">Annuler</button>
                        </div>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
         <!-- Ajoutez les contrôles de pagination -->
         <div class="text-center" *ngIf="prospectList.length > itemsPerPage">
            <!-- <pagination-controls (pageChange)="onPageChange($event)" [maxSize]="5"></pagination-controls> -->
            <button (click)="onPreviousPage()" style="font-size: 10px;" >Precedent</button>
            <button (click)="onNextPage()" style="font-size: 10px;" >Suivant</button>
        </div>
    </div>
</div>
