.content-wrapper {
    background: #f2edf3;
    padding: 2.75rem 2.25rem;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

/* .editing-input {
    max-width: 100px; Ajustez la valeur en fonction de vos besoins */
/* } */

.form-group{
    max-width: 50px;
}