

    <!-- <div class="container-scroller"> -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">

        
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <!-- Purlple Logo le premier <a_____> -->
          <a class="navbar-brand brand-logo" ><img src="assets/images/logo.svg" alt="logo" /></a>
          <a class="navbar-brand brand-logo-mini" ><img src="assets/images/logo-mini.svg" alt="logo" /></a>
        </div>

        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <!-- boutton sidebar -->
          <!-- <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button> -->

          
       
          <ul class="navbar-nav navbar-nav-right">
           
            <!-- <li class="nav-item nav-profile dropdown"> -->
              <!-- <a class="nav-link dropdown-toggle" id="profileDropdown"  data-bs-toggle="dropdown" aria-expanded="false">   
                 -->
                <div class="nav-profile-text">
                  <a class="dropdown-item" >
                    <i class="mdi mdi-logout me-2 text-primary"><button (click)="logout()">Déconnexion</button></i></a>
                
                </div>
              <!-- </a> -->
              
            <!-- </li> -->
            <!-- <li class="nav-item d-none d-lg-block full-screen-link">
              <a class="nav-link">
                <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
              </a>
            </li> -->
        </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>

      
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
       <nav class="sidebar sidebar-offcanvas " id="sidebar">
          <ul class="nav">

            <li class="nav-item nav-profile">
              <a  class="nav-link">
                <div class="nav-profile-image">
                  <img src="assets/images/faces/daou.png" alt="profile">
                  <span class="login-status online"></span>
                
                </div>
                <div class="nav-profile-text d-flex flex-column">
                  <span class="font-weight-bold mb-2">Propection</span>
                  <span class="text-secondary text-small">Daou Project</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="./tableaubord">
                <span class="menu-title" >Acceuil</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>


            <li class="nav-item">
              <a class="nav-link" routerLink="./liste-prospect">
                <span class="menu-title" >Prospects</span>
                <i class="mdi mdi-contacts menu-icon"></i>
              </a>

          
            <li class="nav-item">
              <a class="nav-link" routerLink="./service">
                <span class="menu-title" >Services</span>
                <i class="mdi mdi-shopping menu-icon"></i>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="./offre">
                <span class="menu-title">Offres</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="./activitesuivi">
                <span class="menu-title">Activite de Suivi</span>
                <i class="mdi mdi-chart-bar menu-icon"></i>
              </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" routerLink="./etatprocessus">
                <span class="menu-title">Etat de processus</span>
                <i class="mdi mdi-table-large menu-icon"></i>
              </a>
            </li>


            
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#general-pages" aria-expanded="false" aria-controls="general-pages">
                <span class="menu-title">Utilisateurs</span>
                <!-- <i class="menu-arrow"></i> -->
                <i class="mdi mdi-medical-bag menu-icon"></i>
              </a>
              <!-- <div class="collapse" id="general-pages">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="pages/samples/blank-page.html"> Blank Page </a></li>
                  <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
                  <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
                  <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>
                  <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li>
                </ul>
              </div> -->

            </li>
            <li class="nav-item sidebar-actions">
              <span class="nav-link">
                <div class="border-bottom">
                  <h6 class="font-weight-normal mb-3">Compte Agents</h6>
                </div>
                <button class="btn btn-block btn-lg btn-gradient-primary mt-4" routerLink="./create-account">+ Creer un compte </button>
            
              </span>
            </li>
          </ul>
          
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <router-outlet></router-outlet>
        </div>
        
        <!-- main-panel ends -->
      </div>
    
     
    
   

  
