<!-- <div class="container-fluid"> -->
<div class="content-wrapper">
    <!-- <div class="row"> -->
    <!-- <div class="col-md-4 mt-5">
            <div class="card border-0 shadow p-3">
                <div class="form-floating mb-3 tetx-center">
                    <h5 class="text-center text-warning">Ajout d'un service</h5>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="nom">
                    <label for="lastName">Nom</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="type" name="email" [(ngModel)]="type">
                    <label for="email">Type de service</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="prix" name="prix" [(ngModel)]="prix">
                    <label for="mobile">Prix</label>
                </div>
                <button type="button" class="btn btn-outline-success" (click)="addService()">Ajouter un service</button>

            </div>
        </div> -->
    <!-- <div class="col-md-8 mt-2" style="overflow-x: auto;"> -->
    <div class="row">
        <div class="col-md-6">
            <h5 class="text-danger">Liste des services</h5>
        </div>
        <div class="col-md-6 text-end">
            <button class="ajouter-button" (click)="afficherModalAjout()">+ Ajouter un service</button>
        </div>
    </div>
        <div class="card">
            <!-- <div class="card-body"> -->
            <table class="table table-hover" >
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Type</th>
                        <th scope="col">Prix (fcfa)</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let service of getPaginatedServiceList() let even = even; let odd = odd" [ngClass]="{'table-primary': even, 'table-secondary': odd}" class="table-content" >

                        <td>
                            <ng-container *ngIf="!service.editing; else editFieldNom">
                                {{service.nom}}
                            </ng-container>
                            <ng-template #editFieldNom>
                                <div class="form-group">
                                    <input [(ngModel)]="service.nom" />
                                </div>
                            </ng-template>
                        </td>

                        <td>
                            <ng-container *ngIf="!service.editing; else editFieldType">
                                {{service.type}}
                            </ng-container>
                            <ng-template #editFieldType>
                                <div class="form-group">
                                    <input [(ngModel)]="service.type" />
                                </div>
                            </ng-template>
                        </td>

                        <td>
                            <ng-container *ngIf="!service.editing; else editFieldPrix">
                                {{service.prix}}
                            </ng-container>
                            <ng-template #editFieldPrix>
                                <div class="form-group">
                                    <input [(ngModel)]="service.prix" />
                                </div>
                            </ng-template>
                        </td>


                        <td>
                            <ng-container *ngIf="!service.editing; else editButtons">
                                <i class="fas fa-edit text-primary me-2" (click)="service.editing = true"></i>
                                <i class="fas fa-trash-alt text-danger" (click)="deleteService(service)"></i>
                            </ng-container>
                            <ng-template #editButtons>
                                <div class="form-group">
                                    <button class="bg-gradient-success me-2" (click)="updateService(service)">
                                        <i class="fas fa-check"></i>
                                    </button>
                                    <button class="bg-gradient-danger" (click)="service.editing = false">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </ng-template>
                        </td>

                    </tr>
                </tbody>
            </table>
            <div class="text-center" *ngIf="serviceList.length > itemsPerPage">
                <pagination-controls (pageChange)="onPageChange($event)" [maxSize]="5"></pagination-controls>
            </div>
            <!-- </div> -->
        </div>
        <!-- </div> -->
        <!-- </div> -->

    </div>

    <!-- Ajouter le formulaire en tant que modal -->
    <div class="modal" [ngClass]="{'d-block': afficherFormulaire}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ajouter un service</h5>
                    <button type="button" class="close" (click)="fermerModalAjout()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="nom">
                            <label for="nom">Nom</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="type" name="type" [(ngModel)]="type">
                            <label for="nom">Type</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="prix" name="prix" [(ngModel)]="prix">
                            <label for="numero">Prix</label>
                        </div>



                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary" (click)="addService()">Ajouter</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>