

<div class="container">

    <div class="container-fluid header-section" >
        <h1>Tableau de bord</h1>
        <p>Bienvenue dans votre tableau de bord.</p>
    </div>
    
<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card card-custom">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <i class="fas fa-users fa-2x"></i>
                    <h6 class="card-title mt-3">Nombre total de prospects</h6>
                    <p class="card-text display-4">{{ nombreTotalProspects }}</p>
                </div>
            </div>
        </div>


        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card card-custom">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <i class="fas fa-wrench fa-2x"></i>
                    <h6 class="card-title mt-3">Nombre total de services</h6>
                    <p class="card-text display-4">{{ nombreTotalServices }}</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card card-custom">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <i class="fas fa-shopping-cart fa-2x"></i>
                    <h6 class="card-title mt-3">Nombre total d'offres</h6>
                    <p class="card-text display-4">{{ nombreTotalOffres }}</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card card-custom">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <i class="fas fa-user-check fa-2x"></i>
                    <h6 class="card-title mt-3">Nombre total de prospects convertis en clients</h6>
                    <p class="card-text display-4">{{ nombreTotalProspectsClients }}</p>
                </div>
            </div>
        </div>


        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card card-custom">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <i class="fas fa-clipboard-list fa-2x"></i>
                    <h6 class="card-title mt-3">Nombre total d'activités de suivi</h6>
                    <p class="card-text display-4">{{ nombreTotalActivitesSuivi }}</p>
                </div>
            </div>
        </div>

    </div>
</div>
</div>