/* left-section {
    flex: 1;
    background-color: #0b8fac; /* Couleur pour la partie gauche */
    /* padding: 0px;
    margin-top: 0px;
    color: #fff; */
    
  /* } */
/* btn {
    color: #fff;
    background-color: #0b8fac;
  } */

  





